<body class="">        
    <div id="wrapwrap" class="o_community o_footer_effect_enable">
            <header id="top" data-anchor="true" data-name="Header" class="o_no_autohide_menu o_header_fixed o_main_header o_has_sub_nav o_inverted" style="">
                <div class="o_main_header_main">
            <a class="float-left o_logo" routerLink="/home" ></a>
            <a href="#" role="button" class="o_mobile_menu_toggle o_no_ripple d-inline-block d-md-none">
                <i class="fa fa-bars"></i>
            </a>
            <div class="o_header_buttons">
                

                <a href="/es_ES/shop/cart" class="d-none">
                    <i class="fa fa-shopping-cart"></i><sup class="my_cart_quantity badge badge-primary"></sup>
                </a>
                
        <li class="nav-item o_no_autohide_item">
            <a routerLink="/registro" routerLinkActive="active">Registrar entrada</a>
        </li>
                    <a routerLink="/pruebalo" routerLinkActive="active">Pruébalo gratis</a>
                
            </div>
            <ul class="o_primary_nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle o-no-caret">Aplicaciones</a>
                    <div class="dropdown-menu o_secondary_nav">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 o_website_apps">
                                    <div class="o_nav_app_family">
                                        <span></span> Sitios web
                                        <div>Cree una estupenda experiencia para los usuarios</div>
                                    </div>
                                    <ul>
                                        <li><a href="/es_ES/page/website-builder">Creador de sitios web</a></li>
                                        <li><a href="/es_ES/page/open-source-ecommerce">Comercio electrónico</a></li>
                                        <li><a href="/es_ES/page/blog-engine">Blogs</a></li>
                                        <li><a href="/es_ES/page/community-builder">Foros</a></li>
                                        <li><a href="/es_ES/page/events">Eventos</a></li>
                                        <li><a href="/es_ES/page/live-chat">Chat en directo</a></li>
                                        <li><a href="/es_ES/page/learning-management-system">Aprendizaje en línea</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 o_sale_apps">
                                    <div class="o_nav_app_family">
                                        <span></span> Ventas
                                        <div>Aumente sus índices de éxito</div>
                                    </div>
                                    <ul>
                                        <li><a href="/es_ES/page/sales">Ventas</a></li>
                                        <li><a href="/es_ES/page/crm">CRM</a></li>
                                        <li><a href="/es_ES/page/billing">Facturación</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Punto de venta</a>
                                            <ul>
                                                <li><a href="/es_ES/page/point-of-sale-shop">Tiendas</a></li>
                                                <li><a href="/es_ES/page/point-of-sale-restaurant">Restaurantes</a></li>
                                                <li><a href="/es_ES/page/point-of-sale-hardware">Hardware</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/subscriptions">Suscripciones</a></li>
                                        <li><a href="/es_ES/page/sign">Firmar</a></li>
                                        <li><a href="/es_ES/page/rental">Alquiler</a></li>
                                        <li><a href="/es_ES/page/amazon-connector">Conector de Amazon</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 o_operation_apps">
                                    <div class="o_nav_app_family">
                                        <span></span>  Operaciones
                                        <div>La clave está en la eficiencia.</div>
                                    </div>
                                    <ul>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Contabilidad</a>
                                            <ul>
                                                <li><a href="/es_ES/page/accounting">Contabilidad</a></li>
                                                <li><a href="/es_ES/page/invoice-automation">AI</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/project-management">Proyecto</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Recursos Humanos</a>
                                            <ul>
                                                <li><a href="/es_ES/page/referral">Recomendación de empleados</a></li>
                                                <li><a href="/es_ES/page/recruitment">Contratación</a></li>
                                                <li><a href="/es_ES/page/employees">Empleados</a></li>
                                                <li><a href="/es_ES/page/expenses">Gastos</a></li>
                                                <li><a href="/es_ES/page/appraisal">Valoración</a></li>
                                                <li><a href="/es_ES/page/fleet">Flota</a></li>
                                                <li><a href="/es_ES/page/leaves">Permisos</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/warehouse">Inventario</a></li>
                                        <li><a href="/es_ES/page/purchase">Compra</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Fabricación</a>
                                            <ul>
                                                <li><a href="/es_ES/page/mrp-cloud-software">MRP</a></li>
                                                <li><a href="/es_ES/page/mrp-plm">PLM</a></li>
                                                <li><a href="/es_ES/page/tpm-maintenance-software">Mantenimiento</a></li>
                                                <li><a href="/es_ES/page/quality-management-software">Calidad</a></li>
                                                <li><a href="/es_ES/page/iot">Caja IoT</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/helpdesk">Servicio de asistencia</a></li>
                                        <li><a href="/es_ES/page/field-service-management">Servicio de campo</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 o_productivity_apps">
                                    <div class="o_nav_app_family">
                                        <span></span> Herramientas de productividad
                                        <div>Herramienta estupenda = Personas contentas</div>
                                    </div>
                                    <ul>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Comunicación</a>
                                            <ul>
                                                <li><a href="/es_ES/page/discuss">Hablar</a></li>
                                                <li><a href="/es_ES/page/discuss-groups">Listas de correos</a></li>
                                                <li><a href="/es_ES/page/notes">Notas</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/timesheet-mobile-app">Hoja de horas</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Marketing</a>
                                            <ul>
                                                <li><a href="/es_ES/page/social-marketing">Social</a></li>
                                                <li><a href="/es_ES/page/email-marketing">Email</a></li>
                                                <li><a href="/es_ES/page/marketing-automation">Automatización</a></li>
                                                <li><a href="/es_ES/page/sms-marketing">SMS</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/survey">Encuesta</a></li>
                                        <li><a href="/es_ES/page/approval-workflow">Aprobaciones</a></li>
                                        <li><a href="/es_ES/page/appointments">citas</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle o-no-caret">Documents <span class="badge badge-pill badge-primary ml-1">New</span></a>
                                            <ul>
                                                <li><a href="/es_ES/page/documents">Documentos</a></li>
                                                <li><a href="/es_ES/page/odoo-spreadsheet">Spreadsheet <span class="badge badge-pill badge-primary ml-1">New</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/es_ES/page/planning">Planificación</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <span class="o_store_link d-md-flex justify-content-md-center">
                            <a href="https://apps.odoo.com/apps/modules" class="mx-md-3 px-3"><i class="fa fa-cube fa-fw mr-2"></i>Aplicaciones de terceros</a>
                            <a href="/es_ES/page/studio" class="mx-md-3 px-3"><i class="fa fa-pencil fa-fw mr-2"></i>Odoo Studio</a>
                            <a href="https://www.odoo.sh" class="mx-md-3 px-3"><i class="fa fa-cloud fa-fw mr-2"></i>Plataforma de Odoo Cloud</a>
                        </span>
                    </div>
                </li>
                <li><a routerLink="/tour" routerLinkActive="active">Tour</a></li>
                <li><a routerLink="/tarifa" routerLinkActive="active">Tarifas</a></li>
                <li><a routerLink="/aprende" routerLinkActive="active">Aprende</a></li>
                <li><a routerLink="/comunidad" routerLinkActive="active">Comunidad</a></li>
            </ul>
        </div>
            
    <div class="o_sub_nav">
        <div class="container d-flex align-items-center">
            <a class="active overflow-hidden" href="#">
                <div class="o_sub_nav_title d-flex align-items-center">
                    <span class="o_app_name_logo o_logo o_logo_15 mb-1 d-none d-sm-inline-flex"></span>
                    <span class="o_app_name_title">
                        <span class="ml-2 mr-1 text-600 d-none d-sm-inline-flex">|</span>
                        Quénes somos
                    </span>
                </div>
            </a>
            <div class="o_sub_nav_right flex-grow-1 d-flex justify-content-end align-items-center">
                
                
                
                

                <ul id="top_menu" class="nav align-items-center d-none d-sm-flex">
                    <li class="nav-item"></li> 
                        


<li class="nav-item dropdown">
    <a data-toggle="dropdown" href="#" class="nav-link ml-3 pr-0 dropdown-toggle ">
        <span>Sobre Odoo</span>
    </a>
    <ul class="dropdown-menu" role="menu">
        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/page/about-us" class="dropdown-item ">
          <span>Nuestra compañía</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/page/contactus" class="dropdown-item ">
          <span>Contáctenos</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/event" class="dropdown-item ">
          <span>Eventos</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/blog/odoo-news-5" class="dropdown-item ">
          <span>Odoo Noticias</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/blog/Success-Stories-6" class="dropdown-item ">
          <span>Historias de Éxito</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/jobs" class="dropdown-item ">
          <span>Empleo</span>
        </a>
    
</li>


        
    </ul>
</li>

                    
                        

<li class="nav-item">
    
    
        <a role="menuitem" href="/es_ES/page/community" class="nav-link ml-3 pr-0 active">
          <span>Comunidad</span>
        </a>
    
</li>


                    
                        


<li class="nav-item dropdown">
    <a data-toggle="dropdown" href="#" class="nav-link ml-3 pr-0 dropdown-toggle ">
        <span>Socios</span>
    </a>
    <ul class="dropdown-menu" role="menu">
        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/partners" class="dropdown-item ">
          <span>Encuentre Partners</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/page/cases" class="dropdown-item ">
          <span>Testimonios</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/page/become-a-partner" class="dropdown-item ">
          <span>Conviértase en un Partner</span>
        </a>
    
</li>


        
    </ul>
</li>

                    
                        


<li class="nav-item dropdown">
    <a data-toggle="dropdown" href="#" class="nav-link ml-3 pr-0 dropdown-toggle ">
        <span>Recursos</span>
    </a>
    <ul class="dropdown-menu" role="menu">
        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/page/download" class="dropdown-item ">
          <span>Descargar</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/slides" class="dropdown-item ">
          <span>Aprendizaje en línea</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="https://www.youtube.com/user/OpenERPonline" class="dropdown-item ">
          <span>Vídeos</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/shop" class="dropdown-item ">
          <span>Tienda</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="" class="dropdown-item ">
          <span>divisor</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/security" class="dropdown-item ">
          <span>Seguridad</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/legal" class="dropdown-item ">
          <span>Legal</span>
        </a>
    
</li>


        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/privacy" class="dropdown-item ">
          <span>Privacidad</span>
        </a>
    
</li>


        
            

<li class="">
    
        </li><li class="divider"></li>
    
    



        
            

<li class="">
    
    
        <a role="menuitem" href="/es_ES/page/brand-assets" class="dropdown-item ">
          <span>Activos de Marca</span>
        </a>
    
</li>


        
    </ul>
</li>

                    
                </ul>

                <div class="dropdown d-sm-none">
                    
                        
                    
                        <a class="btn btn-secondary-light dropdown-toggle pr-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Comunidad</span>
                        </a>
                    
                        
                    
                        
                    
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        
                            <a class="dropdown-item" href="/es_ES/">
                                <span>Sobre Odoo</span>
                            </a>
                        
                            
                        
                            <a class="dropdown-item" href="/es_ES/">
                                <span>Socios</span>
                            </a>
                        
                            <a class="dropdown-item" href="/es_ES/">
                                <span>Recursos</span>
                            </a>
                        
                    </div>
                </div>
            
                <div class="call-to-action w-100" style="max-width: 0px;">
                    
                    <a class="btn btn-primary text-nowrap py-1 ml-3" href="/es_ES/trial">Pruébalo gratis</a>
                </div>
            </div>
        </div>
    </div>

        
    </header>
            <main style="">
                
        
    



<div id="wrap" class="oe_structure">
  <section class="o_bg_cover js_top_banner" style="background-image: url(&quot;//odoocdn.com/openerp_website/static/src/img/2016/community/community-top-banner.jpg&quot;); margin-bottom: 0px !important;">
    <div class="container text-center mt32">
      <h1 class="mt48 mb96 display-2 text-white">Comunidad</h1>
    </div>
  </section>
  <section class="bg-white o_overflow_hidden">
    <div class="container mt48 mb48">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <h3>Usuarios</h3>
              <ul class="list-unstyled">
                <li>
                  <a href="https://demo.odoo.com/">Demostración en línea</a>
                </li>
                <li>
                  <a href="/es_ES/page/download">Descargar</a>
                </li>
                <li>
                  <a href="/es_ES/page/editions">Compare ediciones</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="/es_ES/forum/help-1">Ayuda/Foro</a>
                </li>
                <li>
                  <a href="/es_ES/page/odoo-community">Listas de correos</a>
                </li>
                <li>
                  <a href="/es_ES/events">Eventos</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.odoo.com/documentation/user">Guías del usuario</a>
                </li>
                <li>
                  <a href="https://www.odoo.com/elearning">Aprendizaje en línea</a>
                </li>
                <li>
                  <a href="https://www.odoo.com/forum">Foro</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-6 col-md-4">
              <h3>Desarrolladores</h3>
              <ul class="list-unstyled">
                <li>
                  <a href="https://github.com/odoo">Github</a>
                </li>
                <li>
                  <a href="http://runbot.odoo.com/">Runbot</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="https://github.com/odoo/odoo/issues">Informe de un error</a>
                </li>
                <li>
                  <a href="https://github.com/odoo/odoo/wiki/Translations">Ayuda de traducción</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.odoo.com/documentation/13.0/webservices/odoo.html">Documentos API</a>
                </li>
                <li>
                  <a href="https://www.odoo.com/documentation">Guía del desarrollador</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>Socios</h3>
              <ul class="list-unstyled">
                <li>
                  <a href="/es_ES/partners">Encuentre Partners</a>
                </li>
                <li>
                  <a href="/es_ES/page/become-a-partner">Conviértase en un Partner</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="http://training.odoo.com/courses/odoo-functional">Centro de formación</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="/es_ES/page/education-program">Programa de Formación</a>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <a href="/es_ES/page/write-for-community" data-original-title="" title="" aria-describedby="tooltip904411">Escribe para la comunidad</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12">
              <hr>
              <h3 class="-4">Aprenda, comparta y contribuya en la comunidad de Odoo.</h3>
              <h5>Más de 20,000 personas contribuyen al éxito de Odoo a lo largo del mundo.</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
          <div class="oe_country_events mb16 mt16">
            <div class="country_events_list o_temp_auto_element" contenteditable="false" data-temp-auto-element-original-content="<div class=&quot;country_events_list&quot; style=&quot;padding-top: 0.9em;&quot;>
              <div class=&quot;text-center&quot;>
                <div class=&quot;oe_country_events_loader&quot;>
                  <div></div>
                  <p class=&quot;mt16 small fw_medium&quot;>Cargando eventos en su país...</p>
                </div>
              </div>
            </div>">
    
        <h6 class="o_wevent_sidebar_title">
            
                <i class="fa fa-globe mr-2"></i>Próximos Eventos
            
        </h6>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <a href="/es_ES/event/odoo-technical-training-2021-01-18-2021-01-29-2826">
                    
                    <span class="">Odoo Technical Training</span>
                </a>
                <span>ene. 18-29</span>
            </li><li class="list-group-item d-flex justify-content-between">
                <a href="/es_ES/event/odoo-technical-training-us-2021-02-01-2021-02-12-2833">
                    
                    <span class="">Odoo Technical Training (US)</span>
                </a>
                <span>feb.  1-12</span>
            </li><li class="list-group-item d-flex justify-content-between">
                <a href="/es_ES/event/odoo-technical-training-2021-02-15-2021-02-26-2825">
                    
                    <span class="">Odoo Technical Training</span>
                </a>
                <span>feb. 15-26</span>
            </li><li class="list-group-item d-flex justify-content-between">
                <a href="/es_ES/event/odoo-technical-training-us-2021-04-05-2021-04-16-2845">
                    
                    <span class="">Odoo Technical Training (US)</span>
                </a>
                <span>abr.  5-16</span>
            </li><li class="list-group-item d-flex justify-content-between">
                <a href="/es_ES/event/odoo-technical-training-us-2021-07-12-2021-07-23-2846">
                    
                    <span class="">Odoo Technical Training (US)</span>
                </a>
                <span>jul. 12-23</span>
            </li>
        </ul>
        
    
</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="o_bg_cover o_bg_arch1 shadow">
    <div class="container">
      <div class="row mb64 mt64 o_v_align_col_sm">
        <div class="col-sm-6 col-md-4">
          <img src="https://source.unsplash.com/5Ntkpxqt54Y/1000x700s" class="shadow img-responsive" alt="" loading="lazy">
        </div>
        <div class="col-sm-6 col-md-7 col-md-offset-1 mb64 mt64">
          <h2 class="display-3 mt0">Descargar <b>Comunidad Odoo</b></h2>
          <h4 class="text-default mb48">La edición de código abierto de Odoo.</h4>
          <div class="row o_v_align_col">
            <div class="col-md-5">
              <a href="/es_ES/page/download" class="btn btn-primary o_btn_cta" style="">Descargar</a>
            </div>
            <div class="col-md-7 mt16 mb16">
              <span>o</span>
              <a href="/es_ES/page/editions">compare ediciones</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

            </main>
            <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc  o_footer_slideout">
                <div id="footer" class="container o_not_editable ">
            <span class="o_logo o_logo_inverse d-block mx-auto o_footer_logo my-5"></span>
            <div class="row">
                <div class="col-md-7 col-lg-7 col-xl-6">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3 mb-md-0">
                            <div class="row">
                                <div class="col-6 col-md-12">
                                    <span class="o_footer_title">Community</span>
                                    <ul class="o_footer_links list-unstyled">
                                        <li><a href="/es_ES/slides">Aprendizaje en línea</a></li>
                                        <li><a href="/es_ES/page/docs">Documentación</a></li>
                                        <li><a href="/es_ES/forum/help-1">Foro</a></li>
                                        <li><a href="/es_ES/page/odoo-community">Listas de correos</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-md-12">
                                    <span class="o_footer_title">Open Source</span>
                                    <ul class="o_footer_links list-unstyled">
                                        <li><a href="/es_ES/page/download">Descargar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="https://github.com/odoo/odoo">Github</a></li>
                                        <li><a href="https://runbot.odoo.com/">Runbot</a></li>
                                        <li><a href="https://github.com/odoo/odoo/wiki/Translations">Traducciones</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <span class="o_footer_title">Services</span>
                            <ul class="o_footer_links list-unstyled">
                                <li><a href="https://www.odoo.sh">Hospedaje Odoo.sh</a></li>
                                <li class="divider"></li>
                                <li><a href="/es_ES/help">Ayuda</a></li>
                                <li><a href="https://upgrade.odoo.com">Actualizar</a></li>
                                <li><a href="/es_ES/page/education-program">Educación</a></li>
                                <li class="divider"></li>
                                <li><a href="/es_ES/accounting-firms">Encontrar un contador</a></li>
                                <li class="divider"></li>
                                <li><a href="/es_ES/partners">Encontrar un aliado</a></li>
                                <li><a href="/es_ES/page/become-a-partner">Conviértete en socio</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-4 mb64">
                            <span class="o_footer_title">About Odoo</span>
                            <ul class="o_footer_links list-unstyled">
                                <li><a href="/es_ES/page/about-us">Nuestra compañía</a></li>
                                <li><a href="/es_ES/contactus">Contáctenos</a></li>
                                <li><a href="/es_ES/jobs">Carreras</a></li>
                                <li class="divider"></li>
                                <li><a href="/es_ES/events">Eventos</a></li>
                                <li><a href="/es_ES/blog">Blog</a></li>
                                <li><a href="/es_ES/blog/6">Clientes</a></li>
                                <li><a href="/es_ES/blog/8">Socios</a></li>
                                <li class="divider"></li>
                                <li><a href="/es_ES/legal">Legal</a></li>
                                <li><a href="/es_ES/privacy">Privacidad</a></li>
                                <li><a href="/es_ES/security">Seguridad</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-xl-5 offset-xl-1">
                    <div class="d-flex align-items-center justify-content-between">
                        
    
    
    
    

    <div class="js_language_selector o_language_selector dropdown">
        <button class="btn btn-sm btn-outline-secondary border-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/es.png?height=25" loading="lazy">

<span class="align-middle"> Español</span>
        </button>
        <div class="dropdown-menu" role="menu">
            
                <a class="dropdown-item js_change_lang" href="/ar/page/community" data-url_code="ar">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/web/image/res.lang/23/flag_image?height=25" loading="lazy">

<span> الْعَرَبيّة</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/zh_CN/page/community" data-url_code="zh_CN">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/cn.png?height=25" loading="lazy">

<span> 简体中文</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/zh_TW/page/community" data-url_code="zh_TW">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/tw.png?height=25" loading="lazy">

<span> 繁體中文</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/nl_NL/page/community" data-url_code="nl_NL">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/nl.png?height=25" loading="lazy">

<span> Nederlands</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/page/community" data-url_code="en_US">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/us.png?height=25" loading="lazy">

<span>English</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/fr_FR/page/community" data-url_code="fr_FR">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/fr.png?height=25" loading="lazy">

<span> Français</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/de_DE/page/community" data-url_code="de_DE">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/de.png?height=25" loading="lazy">

<span> Deutsch</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/id_ID/page/community" data-url_code="id_ID">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/id.png?height=25" loading="lazy">

<span> Bahasa Indonesia</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/it_IT/page/community" data-url_code="it_IT">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/it.png?height=25" loading="lazy">

<span> Italiano</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/ja_JP/page/community" data-url_code="ja_JP">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/jp.png?height=25" loading="lazy">

<span> 日本語</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/ko_KR/page/community" data-url_code="ko_KR">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/kr.png?height=25" loading="lazy">

<span> 한국어 (KR)</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/pt_BR/page/community" data-url_code="pt_BR">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/br.png?height=25" loading="lazy">

<span> Português (BR)</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/ru_RU/page/community" data-url_code="ru_RU">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/ru.png?height=25" loading="lazy">

<span> русский язык</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/sk_SK/page/community" data-url_code="sk_SK">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/sk.png?height=25" loading="lazy">

<span> Slovenský jazyk</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/es_ES/page/community" data-url_code="es_ES">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/es.png?height=25" loading="lazy">

<span> Español</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/th_TH/page/community" data-url_code="th_TH">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/th.png?height=25" loading="lazy">

<span> ภาษาไทย</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/tr_TR/page/community" data-url_code="tr_TR">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/tr.png?height=25" loading="lazy">

<span> Türkçe</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/uk_UA/page/community" data-url_code="uk_UA">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/ua.png?height=25" loading="lazy">

<span> українська</span>
                </a>
            
                <a class="dropdown-item js_change_lang" href="/vi_VN/page/community" data-url_code="vi_VN">
                    
    
<img class="o_lang_flag" src="//odoocdn.com/base/static/img/country_flags/vn.png?height=25" loading="lazy">

<span> Tiếng Việt</span>
                </a>
            
        </div>
    </div>

                    </div>
                    <hr class="mt-3 mb-4">
                    <p class="small text-muted">Odoo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
                    <p class="small text-muted mb-4">La propuesta única de valor de Odoo es ser muy fácil de usar y totalmente integrado.</p>
                    <div class="o_footer_social_media">
                        <a href="/web/about/facebook" class="text-500 mr-3" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                        <a href="/web/about/twitter" class="text-500 mr-3" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                        <a href="/web/about/linkedin" class="text-500 mr-3" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                        <a href="https://github.com/odoo" class="text-500 mr-3" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                        <a href="/web/about/instagram" class="text-500 mr-3" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
                        <a href="mailto:info@odoo.com" class="text-500"><i class="fa fa-fw fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    <div class="o_footer_copyright o_not_editable">
            <div class="container py-3 mt-4">
                <a class="small" href="/es_ES/page/website-builder">Website made with <span class="o_logo o_logo_inverse o_logo_15"></span></a>
            </div>
        </div>
    </footer>
    

        <div style="width: 1px; height: 1px; margin-top: -1px;"></div></div>
        
        <div id="o_live_modal" class="modal fade" tabindex="-1" role="dialog" contenteditable="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="mt8"><b>Webinar French</b> on YouTube</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">×</span></button>
                        <p class="text-black">
                            <b>1.</b> Use the live chat to ask your questions.<br>
                            <b>2.</b> The operator answers within a few minutes.
                        </p>
                    </div>
                    <div class="modal-body bg-gray-lighter">
                        <img src="//odoocdn.com/openerp_website/static/src/img/2016/live-support/info.gif" class="img img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary btn-lg" target="_blank" href="https://www.youtube.com/watch?v=NQyRXaBLaIE">Watch now<i class="fa fa-1x fa-long-arrow-right ml8"></i></a>
                    </div>
                </div>
            </div>
        </div>
</body>